#files {
    display: none;
}

.file-label {
    width: 100%;
    min-height: 100px;
    border: 1.5px dashed rgb(107, 107, 107);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(107, 107, 107);
    padding: 20px;
}

.file-label p {
    margin: 0;
}

.import-thumbnail {
    height: 80%;
    width: 100px;
    object-fit: contain;
}